#confirmDeleteDialog{

    display: grid;
    grid-template-columns:170px 170px  ;
    border-radius: 20px;
    justify-items: center;
    /* grid-auto-rows: 100px ; */
    row-gap: 10px;
    background:linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    /* background-color: rgb(32, 32, 32); */
}

#confirmDeleteDialog >img ,#confirmDeleteDialog >p{
    grid-column: 1 /3;
    }
#confirmDeleteDialog > *{
  
    display: block;
    color: #fff !important;
 
}


@media screen and (max-width:992px) {
    #confirmDeleteDialog{

        display: grid;
        grid-template-columns:170px !important  ;
        border-radius: 20px;
        justify-items: center;
        /* grid-auto-rows: 100px ; */
        row-gap: 10px;
        /* background-color: red !important; */
    }    
    #confirmDeleteDialog >*{
        grid-column: 1 /3 !important;
        }
}